/*header*/

header{
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
    font-size: 20px;
}


/*presentation*/

.container-fluid{
    background-color: #1abc9c;
    color: white;
}

/*portfolio and cards*/
.card-1{
    background-color: #ba4b63;
    height: 250px;
    border-radius: 5px;
}
.card-2{
    background-color: #1ea4b6;
    height: 250px;
    border-radius: 5px;
}
.card-3{
    background-color: #140f0f;
    height: 250px;
    border-radius: 5px;
}
.card-4{
    background-color: #1c83c1;
    height: 250px;
    border-radius: 5px;
}
.card-5{
    background-color: #0e38b5;
    height: 250px;
    border-radius: 5px;
}
.card-6{
    background-color: #ccb2a3;
    height: 250px;
    border-radius: 5px;
}

/*about us*/

#about{
    height: 500px;
    background-color: #1abc9c;
    color: white;
}

/*location and socials*/

#location-socials{
    background-color: #3a546d;
}

/*copyright*/

#copyright{
    height: 100px;
    background-color: #2c3e50;

}

ul{
    list-style-type: none; 
}

.header li{
    display: inline;
    margin: 0 15px;
}

.profile-pic h1{
    font-size: 50px;
}

.fa-star{
    font-size: 30px;
}

.profile-pic p{
    font-size: 22px;
}

.card{
    border: none;
    margin-top: 20px;
}

.br10{
    border-radius: 10px;
}

.pfolio{
    font-size: 50px;
}

.btn-dwn{
    background: none;
    border: solid 1px white;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin-top: 50px;
}

.form-control{
    background: none;
    border: none;
    border-bottom: solid 1px grey;
    border-radius: 0;
}


.form-label{
    font-size: 30px;
    font-weight: bold;
}

.btn-snd{
    border: none;
    border-radius: 5px;
    background-color: #1abc9c;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
}


.socials .fab{
    color: white;
    border: solid 1px white;
    padding: 10px;
    border-radius: 50%;
}

.location-socials{
    color: white;
}

a{
    color: #1abc9c;
}

.location-socials p{
    font-size: 17px;
}
